.maxtonheader {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4vw
}
.maxtonheader a {
    color: black;
}
.intro {
    margin-top: 5vh;
    font-size: 4vw;
    height: 5vw;
    overflow-y: hidden;
    text-align: center;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 1px gray;
    animation-name: teachhead;
    animation: teachhead 15s infinite;
}
.intro a {
    text-decoration: none;
    color: black;
}
@keyframes teachhead {
    50% {font-size: 4.2vw;}
}
.header {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
    text-shadow: 3px 3px 2px #5c5959;
    color: #080606;
    margin-top: 3vh;
}
.body {
    font-size: 1.1vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    text-justify: newspaper;
    word-wrap: break-word;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    width: 22vw;
}
.column {
    float: left;
    width: 30%;
    padding: 1.5%;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
.spotify {
    width: 60vw;
    margin-left: 17.5%;
    align-items: center;
    p + p {margin-top: 1vh;};
    iframe + iframe { margin-top: 1vh; };
}
.bits {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 2.5vw;
    text-shadow: 2px 2px 1px #cceeff;
    text-align: center;
    margin-top: 3vh;
}
.bits a {
    color:#000000 !important;
}
a {
    color: rgb(209, 57, 37);
    text-decoration: none;
  }

.highlight-blue {
    background-color: #00bfff;
}
.highlight-red {
    background-color: #ff0400;
}
.highlight-green {
    background-color: #00b35f;
}
.highlight-yellow {
    background-color: #e5ff00;
}
.highlight-orange {
    background-color: #ffae00;
}
.mission {
    background-color: #ade4ff; 
    padding-inline: .5vh;
}